.container{
    grid-template-rows:20% 40% 60% 80% 20%;
    color: white;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:10% 40% 40% 10%;
    grid-template-rows:20% 40% 60% 80% 20%;
   grid-template-areas:
    "navbar navbar headr headr"
    "main main main main"
    "main main main main"
    "main  main main main"
    "fotr fotr fotr fotr"
    ;
}
.navbar{
    grid-area: navbar;
  
  }
.photoOrder{
    height: 80vh;
    width: 100vw;
}
@media screen and (max-width:600px) {
    .fotr{
        grid-template-rows:20% 40% 1000% 100% 20%;
        margin-top: 213vh;;
        height: 20vh;
    }
}
@media screen and (max-width:600px) {
    .photoOrder{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:600px){
       .fotr{
       grid-template-rows:20% 40% 1000% 100% 20%;
        margin-top:100vh;
        height: 20vh;
    }
}
.photosize{
    width: 20vh;
    width: 20vw;
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width:600px){
    .main{
        color: rgb(4, 255, 117);
        font-size: 20px;
        font-style: bold;
    }
}
.main{
    background-image: url(.//img/contactPageBackground.jpg);
    grid-area: main ;
}
    #marvelpic{
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        position: absolute;
        height: 16vh;
        width: 10vw;
        margin-top:4vh ;
        align-items: center;
    }

.fotr{
    grid-area:fotr ;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .headr{
    grid-area:headr ;
    background-color:aquamarine;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}