@media screen and (max-width:600px){
    .videoOrder{
        display: flex;
        flex-direction: column;
    }
    .main{
        background:none;
        color: black;
        overflow-x: hidden;
    }
}